{% extends 'music/base.html' %}
{% block title %}add new song{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Left Album Info -->
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if album.album_logo %}
                            {% if album.is_local_file %}
                                <img src="{{ album.album_logo.url }}"
                                     width="300" height="300" class="img-responsive">
                            {% else %}
                                <img src="{{ album.album_logo }}"
                                     width="300" height="300" class="img-responsive">
                            {% endif %}
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}

                        <span class="text-muted"><h3>{{ album.artist }}</h3></span>
                        <h2>
                            <small>{{ album.album_title }}</small>
                        </h2>
                    </div>

                </div>
            </div>
            <!-- Right add Song's form -->
            <div class="col-sm-8 col-md-9">

                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation"><a href="{% url 'music:all_songs' album.id %}">View All</a></li>
                    <li role="presentation" class="active"><a href="#">Add New Song</a></li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Add a New Song</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="album" value="{{ album }}">
                            {% include 'music/form_template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}